:root {
    --negro: #000;
    --blanco: #fff;
    --gris: rgb(133, 133, 133);
    --azul_raro: #008c9e;
    --azul_oscuro: rgb(9, 9, 70);
    --azul_claro: rgb(34, 34, 201);

}

@font-face {
    font-family: "Volcano";
    src: url(Font/TTSupermolotNeue-Bold.woff);
}

* {
    box-sizing: border-box;
    font-family: "Volcano", sans-serif;
}

body {
    color: var(--negro);
    background-color: rgb(184, 184, 184);
    margin: 0;
}

header {
    background-color: var(--negro);
    height: 100px;
}

nav {
    height: 100vh;
    width: auto;
    background-color: var(--negro);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

nav img {
    max-width: 80%;
    margin-bottom: 45%;
    margin-left: 10%;
}

button {
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: var(--azul_claro);
    color: var(--blanco);
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

nav a {
    text-decoration: none;
    color: var(--blanco);
    width: 100%;
}

main {
    margin-left: 180px;
    /* El ancho del nav más un poco de margen */
    padding: 20px;
}

/* parte del Nuevo usuario */



input[type="text"],
input[type="date"],
select {
    margin: 10px auto;
    width: 75%;
    padding: 12px;
    border: 1px solid var(--gris);
    border-radius: 4px;
    resize: none;
    overflow: hidden;
    margin-bottom: 25px;
}

label,
select {
    padding: 12px 5px 10px 5px;
    display: inline-block;

}

input[type="value"]{
    min-width: 45px
}

button[type="submit"] {

    background-color: var(--azul_claro);
    color: var(--blanco);
    padding: 15px 20px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1.2);
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: background-color .3s;
    width: 150px;
}

@media screen and (max-width: 700px) {

    input[type="text"],
    textarea {
        width: 85%;
        margin-top: 0;
    }

}

/* boton animacion */
button:hover {
    background-color: rgb(63, 10, 63);
}

.title {
    text-align: left;
}

.list {
    margin: 20px auto 0;
    max-width: 500px;
}

/* formulario flotante */
.hidden {
    display: none;
}

label {
    min-width: 15%;
}

.boton {
    font-size: large;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    background-color: var(--azul_claro);
    color: var(--blanco);
    cursor: pointer;
    text-align: center;
    font-family: "volcano";
    transition: background-color .3s;
}

.boton:hover {
    background-color: rgb(63, 10, 63);
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

textarea {
    min-height: 50px;
    width: 500px;
}